<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>

    <!--<add key="LineSeparator" value=";"/>
    <add key="LineMatch" value="[001]: Access granted"/>
    <add key="RegexDigits" value="\d"/>
    <add key="LineValuesCount" value="5"/>
    <add key="DateIndex" value="0"/>
    <add key="TimeIndex" value="1"/>
    <add key="PersonNameIndex" value="4"/>
    <add key="PointNameIndex" value="3"/>
    <add key="DateFormat" value="dd-MM-yyyy HH:mm:ss"/>
    <add key="FirstInTime" value="09:00:00"/>
    <add key="LastOutTime" value="18:00:00"/>
    <add key="MinDuration" value="00:00:01"/>
    <add key="DayDuration" value="08:00:00"/>
    <add key="Weekdays" value="62"/>
    <add key="FeedPath" value="..\..\Data"/>
    <add key="FeedFileFormat" value="yyyy-MM-dd"/>
    <add key="IncludeDateNow" value="true"/>
    <add key="SleepInterval" value="00:10:00"/>-->

    <add key="LineSeparator" value=";"/>
    <add key="LineMatch" value="[001]: Access granted"/>
    <add key="RegexDigits" value="\d"/>
    <add key="LineValuesCount" value="37"/>
    <add key="DateIndex" value="1"/>
    <add key="TimeIndex" value="2"/>
    <add key="PersonNameIndex" value="11"/>
    <add key="PointNameIndex" value="13"/>
    <add key="DateFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="FirstInTime" value="09:00:00"/>
    <add key="LastOutTime" value="18:00:00"/>
    <add key="MinDuration" value="00:00:01"/>
    <add key="DayDuration" value="08:00:00"/>
    <add key="Weekdays" value="62"/>
    <add key="FeedPath" value="C:\Programs\cf-door-records\AccessControl\AccessControl.UnitTest\AccessControl.UnitTest.Business.Logic\Data"/>
    <add key="FeedFileFormat" value="yyyy-MM-dd"/>
    <add key="IncludeDateNow" value="true"/>
    <add key="SleepInterval" value="00:10:00"/>

    <add key="ApplicationEventLogSource" value="Access Control Service"/>

  </appSettings>
  
  <connectionStrings>
    <add name="AccessControl" connectionString="Data Source=CSDW7U\MSSQL2012E;Initial Catalog=AccessControl;Persist Security Info=True;User ID=sa;Password=MSSQL.2012E;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>