<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>

    <!--<add key="LineSeparator" value=";"/>
    <add key="LineMatch" value="[001]: Access granted"/>
    <add key="RegexDigits" value="\d"/>
    <add key="LineValuesCount" value="5"/>
    <add key="DateIndex" value="0"/>
    <add key="TimeIndex" value="1"/>
    <add key="PersonNameIndex" value="4"/>
    <add key="PointNameIndex" value="3"/>
    <add key="EventNameIndex" value="-1"/>
    <add key="ModeNameIndex" value="5"/>
    <add key="DateFormat" value="yyyy-MM-dd"/>
    <add key="TimeFormat" value="HH:mm:ss"/>
    <add key="OffsetFormat" value="zzz"/>
    <add key="TimeZoneInfo" value="GTB Standard Time"/>
    <add key="FirstInTime" value="09:00:00"/>
    <add key="LastOutTime" value="18:00:00"/>
    <add key="MinDuration" value="00:00:01"/>
    <add key="DayDuration" value="08:00:00"/>
    <add key="Weekdays" value="62"/>
    <add key="FeedPath" value="..\..\Data"/>
    <add key="IncludeDateNow" value="true"/>
    <add key="SleepInterval" value="00:10:00"/>
    <add key="SignalRUrl" value="http://*:50005/AccessControl.Service.Windows"/>
    <add key="SignalRPathMatch" value="/signalr"/>
    <add key="RealIpHeaderKey" value="X-Real-IP"/>
    <add key="DatabaseCommandTimeout" value="600"/>-->

    <add key="LineSeparator" value=";"/>
    <add key="LineMatch" value="[001]: Access granted"/>
    <add key="RegexDigits" value="\d"/>
    <add key="LineValuesCount" value="37"/>
    <add key="DateIndex" value="0"/>
    <add key="TimeIndex" value="1"/>
    <add key="PersonNameIndex" value="2"/>
    <add key="PointNameIndex" value="3"/>
    <add key="EventNameIndex" value="4"/>
    <add key="ModeNameIndex" value="20"/>
    <add key="DateFormat" value="yyyy-MM-dd"/>
    <add key="TimeFormat" value="HH:mm:ss"/>
    <add key="OffsetFormat" value="zzz"/>
    <add key="TimeZoneInfo" value="GTB Standard Time"/>
    <add key="FirstInTime" value="09:00:00"/>
    <add key="LastOutTime" value="18:00:00"/>
    <add key="MinDuration" value="00:00:01"/>
    <add key="DayDuration" value="08:00:00"/>
    <add key="Weekdays" value="62"/>
    <add key="FeedPath" value="C:\Reports\csv"/>
    <add key="IncludeDateNow" value="true"/>
    <add key="SleepInterval" value="00:10:00"/>
    <add key="SignalRUrl" value="http://*:50005/AccessControl.Service.Windows"/>
    <!--<add key="SignalRUrl" value=""/>-->
    <add key="SignalRPathMatch" value="/signalr"/>
    <add key="RealIpHeaderKey" value="X-Real-IP"/>
    <add key="DatabaseCommandTimeout" value="600"/>

    <add key="ApplicationEventLogSource" value="Access Control Service"/>
    <!--add key="ExtractImplementation" value="AccessControl.Business.Logic.Extract.DatabaseExtract"/>
    <add key="ExtractImplementation" value="AccessControl.Business.Logic.Extract.FileExtract"/-->

  </appSettings>

  <connectionStrings>
    <add name="AccessControl" connectionString="Data Source=10.102.2.131, 49247;Initial Catalog=AccessControl;Persist Security Info=True;User ID=sa;Password=pofgmn;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="AccessControlSystem" connectionString="Data Source=10.102.2.131, 49247;Initial Catalog=AccessControlSystem;Persist Security Info=True;User ID=sa;Password=pofgmn;Max Pool Size=100;Min Pool Size=1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.serviceModel>
    <serviceHostingEnvironment
        multipleSiteBindingsEnabled="true"
        aspNetCompatibilityEnabled="true">
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding
            name="basicHttpBinding"
            closeTimeout="01:00:00"
            openTimeout="01:00:00"
            receiveTimeout="01:00:00"
            sendTimeout="01:00:00"
            bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard"
            maxBufferSize="2147483647"
            maxBufferPoolSize="524288"
            maxReceivedMessageSize="2147483647"
            messageEncoding="Text"
            textEncoding="utf-8"
            transferMode="Streamed"
            useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas
              maxDepth="32"
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="4096"
              maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport
                clientCredentialType="None"
                proxyCredentialType="None"
                realm=""/>
            <message
                algorithmSuite="Default"
                clientCredentialType="UserName"/>
          </security>
          <!--security mode="Transport">
            <transport
                clientCredentialType="None"
                proxyCredentialType="None"
                realm=""/>
            <message
                algorithmSuite="Default"
                clientCredentialType="Certificate"/>
          </security-->
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding
            name="webHttpBinding"
            maxBufferSize="2147483647"
            maxBufferPoolSize="524288"
            maxReceivedMessageSize="2147483647"
            crossDomainScriptAccessEnabled="true">
          <readerQuotas
              maxDepth="32"
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="4096"
              maxNameTableCharCount="16384"/>
          <security mode="None"/>
          <!--security mode="Transport">
            <transport
                clientCredentialType="None"
                proxyCredentialType="None"
                realm=""/>
          </security-->
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service
          name="AccessControl.Service.Windows.Host"
          behaviorConfiguration="behaviorConfigurationService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:50004/AccessControl.Service.Windows"/>
          </baseAddresses>
        </host>
        <endpoint
            binding="basicHttpBinding"
            bindingConfiguration="basicHttpBinding"
            contract="AccessControl.Service.Windows.Interface.IHost">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange"/>
        <endpoint
            address="Web"
            binding="webHttpBinding"
            bindingConfiguration="webHttpBinding"
            contract="AccessControl.Service.Windows.Interface.IHost"
            behaviorConfiguration="behaviorConfigurationEndpoint"/>
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="jsonWebHttp" type="AccessControl.Business.Engine.Common.JsonBehaviorExtensionElement, AccessControl.Business.Engine"/>
        <add name="corsWebHttp" type="AccessControl.Business.Engine.Common.CorsBehaviorExtensionElement, AccessControl.Business.Engine"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="behaviorConfigurationEndpoint">
          <webHttp/>
          <jsonWebHttp/>
          <corsWebHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="behaviorConfigurationService">
          <serviceMetadata
              httpGetEnabled="true"
              httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling
              maxConcurrentCalls="65536"
              maxConcurrentSessions="65536"
              maxConcurrentInstances="65536"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source
          name="System.ServiceModel"
          switchValue="Critical, Error"
          propagateActivity="true">
        <listeners>
          <add
              name="Trace"
              type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
              initializeData="Trace.e2e"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>